{%extends "template.html"%}
{%block content%}
<div class="login-dark">
    <form method="post" action="">
        {{ form.hidden_tag() }}

        <div class="illustration">
            <i class="icon ion-ios-person-outline"></i>
        </div>
        <div class="form-group text-danger">
            {% if form.username.errors %}
            {% for error in form.username.errors %}
            <center>{{ error }}</center>
            {% endfor %}
            {%elif form.email.errors%}
            {% for error in form.email.errors %}
            <center>{{ error }}</center>
            {% endfor %}
            {%elif form.password.errors %}
            {% for error in form.password.errors %}
            <center>{{ error }}</center>
            {% endfor %}
            {%elif form.confirm_password.errors %}
            {% for error in form.confirm_password.errors %}
            <center>{{ error }}</center>
            {% endfor %}
            {%endif%}
        </div>
        <div class="form-group">
            {{ form.username(class="form-control form-control-lg",placeholder="Username",autocomplete="off") }}
        </div>
        <div class="form-group">
            {{ form.email(class="form-control form-control-lg",placeholder="Email",autocomplete="off") }}
        </div>
        <div class="form-group">
            {{ form.password(class="form-control form-control-lg",placeholder="Password") }}
        </div>
        <div class="form-group">
            {{ form.confirm_password(class="form-control form-control-lg",placeholder="Confirm Password") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary btn-block") }}
        </div>
        <hr>
        <p style="color: dimgray;">Already have an account?<a href="{{url_for('login')}}"
                style="text-decoration: none;color: rgb(170, 167, 167);">Sign
                In</a></p>
    </form>

</div>
{%endblock content%}